
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.searchTextRound{
		border-top-left-radius:50px;
		border-bottom-right-radius:50px
	}
	.searchHight {
		height: 50px;
	}
</style>

<div class="main">
	<div class="sub-main card breadcrumb">
		<div class="card-body row">
			<div class="pt-xl-3 offset-2 col-8">
				<label><i class="fas fa-home h3"></i></label>
				<div class="input-group mb-3">
					<div class="input-group-prepend searchHight">
						<span class="input-group-text" id="basic-addon3">PAMS Search</span>
					</div>
					<input type="text" class="form-control searchTextRound searchHight" id="basic-url" aria-describedby="basic-addon3">
				</div>
			</div>
		</div>
	</div>
	<div class="searchResult">
		Search results
	</div>
</div>